Checks: '*,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm*,
  -zircon-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -readability-magic-numbers,
  -readability-avoid-const-params-in-decls,
  -readability-identifier-length,
  -misc-no-recursion,
  -hicpp-avoid-c-arrays
  '
HeaderFilterRegex: ''
FormatStyle: none
